/* RiskCalculator.css */
body {
  background-color: #535c91;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.risk-calculator-container {
  background-color: #1b1a55;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: Arial;
  border-radius: 50px;
  height: 75vh;
  width: 50vw;
}

.risk-calculator-container h2 {
  font-size: 30px;
  opacity: 1;
  color: #fff7f1;
  font-weight: bolder;
}

.risk-calculator-container div {
  color: #fff7f1;
  margin: 10px 0;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.risk-calculator-container label {
  font-size: 15px;
  opacity: 1;
  font-weight: bold;
}

.risk-calculator-container input {
  opacity: 1;
  margin-top: 5px;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid gray;
  font-size: large;
  font-weight: bold;
  color: #1b1a55;
  padding-left: 10px;
}

.risk-calculator-container button {
  color: #fff7f1;
  align-self: center;
  margin-top: 20px;
  font-weight: bold;
  border-radius: 10px;
  height: 40px;
}

@media (max-width: 768px) {
  .risk-calculator-container {
    height: 90vh; /* 手机屏幕时的高度 */
    width: 80vw; /* 手机屏幕时的宽度 */
  }

  .risk-calculator-container label {
    font-size: 2rem;
  }

  .risk-calculator-container input {
    width: 25rem;
    height: 3rem;
  }

  .risk-calculator-container button {
    width: 15rem;
    height: 5rem;
    font-size: 1rem;
  }

  .risk-calculator-container h2 {
    font-size: 3rem;
  }
}